    *,
    *::before,
    *::after {
        box-sizing: border-box;
    }
    
    html {
        font-size: 62.5%;
    }
    
    body {
        margin: 0;
        font-family: 'Roboto', sans-serif;
        background-color: white;
        color: black;
    }
    
    a {
        color: black;
        text-decoration: none;
    }
    
    ul,
    li {
        list-style: none;
        padding: 0;
    }
    
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: 'Lato', sans-serif;
    }
    /********** HEADER *********************/
    
    header {
        width: 100%;
        padding: 2vmin 0;
    }
    
    nav {
        margin: 0 5%;
        font-size: 1.5rem;
        display: flex;
        align-items: center;
        gap: 1vmin;
        flex-wrap: wrap;
    }
    
    svg {
        width: 30vmin;
        margin-bottom: 1rem;
    }
    
    .navbar {
        display: flex;
        justify-content: center;
        flex-grow: 1;
        margin: 0;
    }
    
    .nav-link {
        font-size: calc(.875em + 0.625vw);
        margin-right: 5.5rem;
        margin-bottom: 0;
    }
    
    .nav-link:nth-of-type(3) {
        margin: 0;
    }
    
    @media screen and (max-width: 768px) {
        .navbar {
            justify-content: space-between;
        }
    }
    /*************** MAIN ********************/
    
    .full-width-teaser {
        position: relative;
        color: white;
        font-size: calc(1rem + 2vw);
    }
    
    .full-width-teaser--img {
        background-size: cover;
        background-position: center;
        width: 100%;
        vertical-align: bottom;
        /* Entfernt den Abstand von ca. 3px unter der Grafik */
    }
    
    .full-width-teaser .full-width-teaser--text {
        position: absolute;
        top: 20vmax;
        left: 10vmin;
        max-width: 45ch;
    }
    
    .full-width-teaser--mobile {
        display: none;
    }
    
    .full-width-teaser--text h1 {
        font-size: 2em;
        margin: 0;
    }
    
    .full-width-teaser--text p {
        margin-top: 1rem;
        font-size: .85em;
        line-height: 1.8;
    }
    
    @media screen and (max-width: 768px) {
        .full-width-teaser--text {
            display: none;
        }
        .full-width-teaser--mobile {
            display: block;
            padding: 3rem 2rem;
            color: black;
            background-color: #F5F5F5;
        }
        .full-width-teaser--mobile-text {
            max-width: 50ch;
        }
        .full-width-teaser--mobile-text h1 {
            font-size: 3rem;
            margin-bottom: 1rem;
        }
        .full-width-teaser--mobile-text p {
            font-size: 1.9rem;
            line-height: 1.6;
            font-weight: bold;
        }
    }
    /********** FOOTER ***********/
    
    footer {
        margin-top: 15rem;
        padding: 10rem 0;
        font-size: calc(1rem + 0.625vw);
        text-align: center;
        letter-spacing: .8px;
        background-color: black;
    }
    
    footer ul,
    li {
        display: flex;
        justify-content: center;
        gap: 5rem;
        flex-wrap: wrap;
    }
    
    footer a {
        color: white;
        border-bottom: 1.5px solid white;
        padding: 0.2rem;
    }
    
    footer p {
        margin-top: 10rem;
        font-weight: lighter;
        color: rgba(255, 255, 255, .4);
    }
    
    @media screen and (max-width: 768px) {
        footer ul,
        li {
            display: block;
            margin-bottom: 4rem;
        }
    }